:root {
    --accent: #52b36d;
    --border: rgb(51, 51, 51);
    --content: rgb(196, 196, 197);
    --entry: rgb(46, 46, 51);
    --gap: 24px;
    --primary: rgb(218, 218, 219);
    --radius: 8px;
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --theme: rgb(29, 30, 32);
    --accent-2: #198754;
    --accent-3: #157347;
    --accent-4: #0b4c2f;
    --code-bg: rgb(55, 56, 62);
    --content-gap: 20px;
    --footer-height: 60px;
    --header-height: 60px;
    --main-width: 800px;
    --nav-width: 1024px;
}
body {
    background: var(--theme);
    color: var(--primary);
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen,
    Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    word-break: break-word;
}
html {
    overflow-y: scroll;
    -webkit-tap-highlight-color: transparent;
}
a {
    color: inherit;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
.alert {
    border: 1px solid transparent;
    border-radius: .25rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding: 1rem;
    position: relative;
}
.alert-default {
    background-color: var(--theme);
    border-color: #303337;
    color: var(--primary);
}
.alert-primary {
    background-color: #172636;
    border-color: #0d518f;
    color: #1890ff;
}
.alert-success {
    background-color: #17312a;
    border-color: #0d8951;
    color: #0be881;
}
.alert-warning {
    background-color: #302c1d;
    border-color: #8e7710;
    color: #ffcf00;
}
.alert-danger {
    background-color: #301923;
    border-color: #8c0e2e;
    color: #ff4d4f;
}
