:root {
    --accent: #52b36d;
    --border: rgb(51, 51, 51);
    --content: rgb(196, 196, 197);
    --entry: rgb(46, 46, 51);
    --gap: 24px;
    --primary: rgb(218, 218, 219);
    --radius: 8px;
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --theme: rgb(29, 30, 32);
    --code-bg: rgb(55, 56, 62);
    --content-gap: 20px;
    --footer-height: 60px;
    --header-height: 60px;
    --main-width: 800px;
    --nav-width: 1024px;
}
body {
    background: var(--theme);
    color: var(--primary);
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen,
    Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    word-break: break-word;
}
html {
    overflow-y: scroll;
    -webkit-tap-highlight-color: transparent;
}
a {
    color: inherit;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
