.header {
    display: block;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: var(--header-height);
    margin-inline-end: auto;
    margin-inline-start: auto;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    padding: 0 var(--content-gap);
}
.nav a {
    display: block;
}
.logo {
    display: flex;
    flex-wrap: inherit;
}
.logo a {
    font-size: 24px;
    font-weight: 700;
}
.link {
    background-color: var(--entry);
    line-height: 1.75rem;
    padding: 1rem;
    text-decoration: none;
}
.link:active,
.link:hover {
    font-weight: 700;
    text-decoration: var(--primary) underline;
}
@media screen and (min-width: 740px) {
    .link:first-of-type {
        margin-inline-end: var(--content-gap);
        margin-inline-start: auto;
    }
}
@media screen and (max-width: 740px) {
    .link {
        font-size: 1.05rem;
        margin-top: .75rem;
    }
    .nav {
        flex-direction: column;
    }
}
